@charset "utf-8";
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
th,
td,
form,
body {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #000;
}
img {
  border: none;
}
strong,
i {
  font-style: normal;
}
ul,
li,
ol {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
input::-ms-clear {
  display: none;
}
input[type="button"] {
  cursor: pointer;
}
input,
select,
textarea {
  outline: none;
}
/*input { border:0; background-color:transparent;}*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.positionR {
  position: relative;
}
.positionA {
  position: absolute;
}
.overflowHidden {
  overflow: hidden;
}
.textAlignC {
  text-align: center;
}
.displayB {
  display: block;
}
.displayN {
  display: none;
}
.fontWeightN {
  font-weight: normal;
}
.fontSize14px {
  font-size: 14px;
}
.colorGrey {
  color: #999999;
}
.width1200pxAuto {
  width: 1200px;
  margin: 0 auto;
}
.minWidth1200 {
  min-width: 1200px;
}
[v-cloak] {
  display: none;
}
/*mask layer*/
.shade {
  background-color: rgba(191, 191, 191, 0.5);
  position: absolute;
  _background: #bfbfbf;
  _filter: alpha(opacity=50);
  left: 0px;
  top: 0px;
}
/*page layer*/
.page {
  color: #7F7F7F;
  text-align: center;
  padding-top: 50px;
  padding-right: 3px;
  padding-bottom: 50px;
  padding-left: 3px;
}
.page a {
  color: #6a6a6a;
  margin-right: 5px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
}
.page a:hover {
  color: #fff;
  background-color: #666666;
}
.page a:active {
  background: none repeat scroll 0 0 #0061de;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  color: #fff;
}
.page span.current {
  background-color: #666666;
  color: #fff;
  margin-right: 5px;
  padding: 13px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.page span.disabled {
  color: #378713;
  margin-right: 3px;
  padding: 2px 6px;
}
.login-cnki {
  width: 90px;
  margin: 0 auto;
}
.login-cnki img {
  width: 90px;
}
.login-cnki p {
  width: 90px;
  text-align: center;
}